.job-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
}
.job-label {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.job-label input,
.job-label textarea {
    margin-left: 1rem;
    font-family: "Readex Pro";
    font-size: 1rem;
    width: 100%;
}
.job-label textarea {
    height: 100%;
}

#add-btn {
    background-color: #c8e3fa;
    width: 50%;
    justify-self: center;
    margin-top: 1rem;
    border-radius: 50px;
}
#add-btn:hover {
    border: 1px solid rgb(27, 56, 75);
    background-color: #9ad0ff;
}